{% trans_default_domain datatable.translationDomain %}

<table id="{{ datatable.name }}" class="table table-striped table-bordered compact">
	<thead class="thead-light">
		<tr>
			<th scope="col">{{ 'form.denomination'|trans|capitalize }}</th>
			<th scope="col">{{ 'form.ratio-currency'|trans|capitalize }}</th>
			<th scope="col">{{ 'title.sample'|trans|capitalize }}</th>
		</tr>
	</thead>

	<tbody>
    </tbody>
</table>