# Cache, session files and logs (Symfony3)
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep

/public/images/uploads/*
!public/images/uploads/temp
/public/images/uploads/temp/*
!public/images/uploads/temp/.gitkeep
/public/data/*
!public/data/.gitkeep

# Managed by Composer
/bin/*
!bin/console
#!bin/symfony_requirements

###> symfony/framework-bundle ###
/public/bundles/
/vendor/
.env.local
.env.local.php
.env.*.local
###< symfony/framework-bundle ###

#/.project
#/.buildpath
/.settings/
/.idea/
