{% trans_default_domain 'prompts' %}

{% if modalWidth is not defined %}
	{% set modalWidth = 500 %}
{% endif %}

<div class="modal fade" id="modal_dialog" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
	<div class="modal-dialog" style="max-width: {{ modalWidth }}px;" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_label">Modal label</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" title="{{ 'button.close'|trans|capitalize }}"><span aria-hidden="true">&times;</span></button>
			</div>

			<div id="err_general" class="modal-error-content"></div>

			<div id="modal_body"></div>

		</div>
	</div>
</div>